<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./utils/css/sign-up.css">
    <title>Document</title>
</head>
<body>
  <form action="/sign-up" method="POST">
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required>
		<br>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required>
		<br>
		<label for="psw">Password:</label>
		<input type="password" id="psw" name="psw" required>
		<br>
		<label for="psw-repeat">Repeat Password:</label>
		<input type="password" id="psw-repeat" name="psw-repeat" required>
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>